<div class="row">
  <ul>   
    <li class="media">
      <div class="media-left">
        <div><%= link_to @event.user.name, user_path(@event.user) %></div>
        <img class="media-object img-rounded" src="<%= gravatar_url(@event.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <p><%= @event.title %></p>
        </div>
        <div>
          <p><%= @event.event_start %>～<%= @event.event_end %></p>
        </div>
        <div>
          <p><%= @event.area.content %>&nbsp;&nbsp;&nbsp;<%= @event.prefecture.content %></p>
        </div>
        <div>
          <p>募集人数&nbsp&nbsp<%= @event.number_of_people %>人</p>
        </div>
        <div>
          <p>料金&nbsp&nbsp￥<%= @event.charge %></p>
        </div>
        <div>
          <p>概要&nbsp&nbsp<%= @event.content %></p>
        </div>
        <div>
          <p>お申し込み公式URL&nbsp&nbsp<%= link_to @event.url, @event.url %></p>
        </div>
        <div class="col-md-2">
          <%= render 'likes/like_events_button', event: @event %>
        </div>
        <% if current_user == @event.user %>
        <div class="col-md-1">
          <%= link_to "Delete", @event, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
        </div>
        <% end %>
        <% if current_user == @event.user %>
        <div class="col-md-2 btn btn-default btn-xs">
          <%= link_to 'このイベントを編集する', edit_event_path(@event) %>
        </div>
        <% end %>
      </div>
    </li>
  </ul>
</div>