<% if logged_in? %>
<p>エリア</p>
<% area_id = params[:q][:area_id] if params[:q] %>
<%= form_tag(root_path, :method => 'get' ) do %>
  <%= collection_select :q, :area_id, @areas, :id, :content, { include_blank: "選択して下さい", selected: area_id }, class: "form-control" %>
  <%= submit_tag '検索', :name => nil %>
<% end %>

<p>イベント一覧</p>
<%= render 'events/events', events: @events %>
<% else %>
<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>イベサカ</h1>
        <div><h1>週末に彩りを与えるサッカーイベント</h1></div>
        <div><%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary' %></div>
      </div>
    </div>
  </div>
<% end %>
<% end %>