<% if logged_in? %>
  <div class="row">
    <%= form_tag(root_path, method: :get ) do %>
  
      <div class=" form-group col-sm-12">
        <% selected_area = params[:event] && params[:event][:area_id].present? ? params[:event][:area_id] : nil %>
        <%= label_tag 'エリアで検索' %>
        <%= collection_select :event, :area_id, @areas, :id, :content, { include_blank: "選択して下さい", selected: selected_area }, class: "form-control" %>
      </div>
      
      <div class="form-group col-sm-12">
        <% selected_prefecture = params[:event] && params[:event][:prefecture_id].present? ? params[:event][:prefecture_id] : nil %> 
        <%= label_tag '県名で検索' %>
        <%= collection_select :event, :prefecture_id, @prefectures, :id, :content, { include_blank: "選択して下さい", selected: selected_prefecture }, class: 'form-control' %>
      </div>
      
      <div class="form-group col-sm-offset-10 col-sm-2">
        <%= submit_tag '検索', class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
  
  <p>イベント一覧</p>
  <%= render 'events/events', events: @events %>

<% else %>
  <% content_for :cover do %>
    <div class="cover">
      <div class="cover-inner">
        <div class="cover-contents">
          <h1>イベサカ</h1>
          <div><h1>週末に彩りを与えるサッカーイベント</h1></div>
          <div><%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary' %></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<script>
  $('#event_area_id').change(function() {
    $.ajax({
      url: '<%=j sort_prefectures_path %>',
      type: 'post',
      data: { area_id: ($(this).val()) }
    })
  });
</script>